<h1>This is the index page</h1>

<div class="grid">
  <% @vans.each do |van| %>
    <%= link_to van_path(van), class: 'text-decoration-none' do %>
      <%= render 'partials/card', van: van %>
    <% end %>
  <% end %>
</div>
