<h1>This is the index page</h1>

<%# <% if policy(@van).new? %>
<%= link_to "add a new van as owner", new_van_path if policy(Van).new?%>
<%# <% end %>
<ul>
  <% @vans.each do |van| %>
  <li><%= link_to van.title, van_path(van) %></li>
  <li><%= cl_image_tag van.photo.key, height: 300, width: 400, crop: :fill %></li>
  <% end %>
</ul>
