// Define variables for your color scheme

// For example:
$red: #ff7d60;
$blue: #6aa5ff;
$yellow: #FFD97A;
$light-orange: #ffae91;
$orange: #FFA07E;
$green: #93d061;
$gray: #2d2d2d;
$light-gray: #FAFAFA;
