<div class="footer bg-info p-5">
  <div class="row d-flex justify-content-evenly">
    <div class="col-12 col-md-6">
      <div class="footer-copyright d-flex flex-column justify-content-evenly">
        <p class="text-light fs-3 fw-bold">VANOS</p>
        <p class="text-light fs-5 fw-normal">We empower you to search the world</p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center">
      <a href="" class="btn btn-primary btn-lg text-light align-self-center mt-3"> Discover our vans</a>
    </div>
  </div>
</div>
