<nav class="navbar p-3 bg-info">
  <p class="fs-3 text-light">VANOS</p>
  <div class="searchbar shadow-sm">
    <form action="/", method="POST" class="d-flex justify-content-between">
      <input type="text" class="searchbar-input" placeholder="Model, location, number of travelers...">
      <button class="searchbar-button rounded-circle">
        <i class="fa-solid fa-magnifying-glass fa-sm"></i>
      </button>
    </form>
  </div>
</nav>
