<nav class="navbar p-3 bg-info">
  <%= link_to "VANOS", root_path, class: "fs-3 text-light text-decoration-none"%>
  <div class="searchbar shadow-sm">
    <form action="/", method="POST" class="d-flex justify-content-between">
      <input type="text" class="searchbar-input" placeholder="Model, location, number of travelers...">
      <button class="searchbar-button rounded-circle">
        <i class="fa-solid fa-magnifying-glass fa-sm"></i>
      </button>
    </form>
  </div>
  <div>
    <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary text-light" %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary text-light"%>
    <% end %>
  </div>
</nav>
