h4 {
  font-weight: 600;
}

.van-image {
  border-radius: 5px;
  height: 75vh;
  background-size: cover;
  background-position: center;
}

.van-info {
  padding: 15px 0;
  border-bottom: 1px solid $orange;
}

.van-highlight {
  font-weight: 800;
}
