.main-card {
  border-radius: 5px;
  &-photo {
    background-size: cover;
    background-position: center;
    height: 200px;
  }
  &-detail {
    font-weight: 600;
  }
}

.home-card {
  border-radius: 15px;
  max-height: 75vh;
  img {
    border-radius: 13px;
    object-fit: cover;
    max-width: 40%;
  }
}
