.main-card {
  color: black;
  border-radius: 5px;
  &-photo {
    background-size: cover;
    background-position: center;
    height: 200px;
  }
  &-detail {
    font-weight: 400;
    font-size: 20px;
  }
  &-title {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 5px;
  }
  &-price {
    font-weight: 600;
    font-size: 1.3em;
  }
}

.home-card {
  border-radius: 15px;
  max-height: 75vh;
  img {
    border-radius: 13px;
    object-fit: cover;
    max-width: 40%;
  }
}
